body {
    font-family: 'Source Sans Pro', 'ui-sans-serif', 'system-ui', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    padding: 1px;
    align-items: flex-start;
}

.top-container {
    display: block;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 0px;
    align-items: flex-start;
    position: absolute;
    background: white;
    z-index: 1;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);     
    border-radius: 8px;  
}

.pre-tag {
    display: flex;
    align-items: center;
    gap: 8px;
    
    background: linear-gradient(to top, #f9fafb, white);
    border: 1px solid #e5e7eb;
    padding: 1px 4px;
    order: 0;
    border-radius: 3px;
    font-size: 12px;
    color: black;
}

.real-tag {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1px 4px;
    font-size: 12px;
    background: linear-gradient(to top, #f9fafb, white);
    background: linear-gradient(to bottom right, #9da2ad, #c7c7c7);
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    order: 0;
}

.pre-tag span,
.real-tag span span {
    cursor: pointer;
}

.pre-tag input[type="checkbox"] {
    margin-right: 5px;
}

#add-new-tag-btn-container {
    display: flex;
    align-items: center;
}

#add-tag-btn-top-container {
    padding: 5px;
    border: 0;
}

#pre-tag-container {
    padding: 5px;
    border: 0;
}

.real-tag-definer-cl {
    width: 80px;
    order: 1;
    border: 0;
    outline: none;
    background: #ffffff;
    height: 21px;
    padding-top: 0px;
    margin-top: 0px;
    min-width: 80px;
    resize: none;
}

.selected-tag {
    border: 1px solid #ddd;
    background: linear-gradient(to bottom right, #9da2ad, #c7c7c7);
    color: black
}

.delete-btn {
    cursor: pointer;
    border: 1px solid #e5e7eb;
    border-radius: 99px;
    background-color: white;
    margin-left: 20px;
    width: 14px;
    height: 14px;
    font-size: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.right-margined-title {
    margin-left: auto;
}
.real-tag-container-cl {
  background: #ffffff;
  cursor: text;
}